body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.homec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.bloco{
    background-color: #ECDFCC;
    border-radius: 1em;
    padding: 1em;
    color: #697565;
}
