.ImagemCarrocel{
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    transition: 2.5s;
    border-radius: 1em;
}

@media screen and (max-width: 480px) {
    .ImagemCarrocel{
       width: 75vw;
         height: 50vh;
    }
    
}