body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.bloco{
    background-color: #FCFBF7;
    border-radius: 1em;
    padding: 1em;
    color: #2F2F2F;
    
  transition: background-color 0.3s ease-in-out;

}

.texto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImagemCarrocel{
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    transition: 2.5s;
    border-radius: 1em;
    margin-bottom: 1em;
}

body.dark-home .bloco {
  background-color: #6a4930;
  color: #FAF0E6;
  border: 1px solid #5A3A22;
  
  transition: background-color 0.3s ease-in-out;
}
