button {
    background-color: #5A3A22;
    border-radius: 1em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #7A4A32; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.09); 
}

button:active {
    transform: scale(0.70); 
    background-color: #3A1A12; 
}

body.dark-mode button {
  background-color: #FAF0E6;
  color: #5A3A22;
}